/EvadeVR/Assets/Arkham Interactive/Industrial/Robot Arms/Robot_Arm_Welder/Textures/Sources/*.meta
/EvadeVR/Assets/Arkham Interactive/Industrial/Robot Arms/Robot_Arm_Welder/Textures/Sources/*.psd
Sources
